<div class="container main">
  <div class="jumbotron">
    <section class="banner" > 
      <div class="inner">
        <h3 class="banner-heading">Come Together</h3>
          <hr>
        <p class="inner_font">Like Minded People Meeting</P>
          <p>Right Now</p>
      </div>
    </section>
</div>
</div>

<div class="container segment_center">
  <h1>Imagine all the People...Coming Together</h1>
</div>

<div class="container segment_info">
  <div class="ui horizontal segments">
    <div class="ui black segment segment_center">
      <h1>About</h1>
      <p>Imagine a world where you actually speak to you neighboor...</p>
      <p>Imagine a world where you know the people in your neighborhood</p>
      <p>Come Together is about bringing groups of people together</p>
      <p>We believe that people should connect with each other...in their neighborhoods.</p>
    </div>
    <div class="ui black segment segment_center">
      <h1>How this Works</h1>
      <p>The site will take your address that you entered when you created your profile.</p>
      <p>It will then show you which groups are closest to your location.</p>
      <p>If there are no groups in your neighborhood then nothing will appear on the groups page.</p>
      <p>Thus, you should create a group for others to come together!</p>
      <p>Once the group has been created you can post messages in the group.</p>
    </div>
    <div class="ui black segment segment_center">
      <h1>Groups</h1>
      <p>Once you join feel free to look at the groups that one can belong to.</p>
      <p>The groups are based on the location of your home.</p>
      <p>Thus, if your neighborhood has a group it will appear</p>
      <p>You can also create new groups for your neighborhood.</p>
    </div>
  </div>
</div>

