<div class="container main">
  <div class="jumbotron">
    <section class="banner" > 
      <div class="inner">
        <h3>Come Together</h3>
          <hr>
        <p class="inner_font">Like Minded People Meeting</P>
      </div>
    </section>
</div>
</div>