/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "semantic-ui";

/* CSS on Home Page */

.main {
  margin-top: 7.0em;
}

.jumbotron {
  text-align: center;
  margin-bottom: 0px;
  height: 600px;
  width: auto;
  margin-top: -20px;
  background-image: image-url("meeting.jpg");
  background-size: 100% 100%;
}

.jum_image{
  background-repeat: no-repeat;
  height: 700px;
}

.banner {
  background-position: top left, center center;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  color: #fff;
  padding: 12em 0;
  position: relative;
  text-align: center
}

.inner {
  display: inline-block;
  background: rgba(29,39,38,0.7);
  position: relative;
  z-index: 2;
  padding: 25px 25px 25px 25px;
  text-align: center;
}

h3 {
  font-size: 40px;
  color: white;
}

.inner_font {
  font-size: 35px;
  color: white;
}

.segment_info {
  margin-bottom: 150px;
}

.segment_center {
  text-align: center;
}
